body {
    background-color: black;
    font-size:larger;
    font-family:Arial, Helvetica, sans-serif;
}

.wrapper {
    background-image: url("./assets/images/annie-spratt-BIn3m_DDSJE-unsplash.jpg");
    margin: 2rem 2rem;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 99vh;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.upper {
    margin: 2rem 2rem;

    display: flex;
    justify-content: center;
    border: 5px solid antiquewhite;
    background-color: transparent;
    height: 25vh;
    width: 500px;
    padding: auto;
}

.middle {
    margin: 2rem 2rem;

    display: flex;
    justify-content: center;
    border: 5px solid antiquewhite;
    background-color: transparent;
    width: 500px;
}

.lower {
    margin: 2rem 2rem;

    display: flex;
    justify-content: center;
    border: 5px solid antiquewhite;
    background-color: transparent;
    height: 25vh;
    width: 500px;
}

.upper-inside {
    margin: 2rem 2rem;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 450px;
    padding: auto;
}

.image {
    height: 25vh;
    width: 450px;
}