body {
    background-color: black;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 99vh;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.upper {
    border: 5px solid antiquewhite;
    background-color: antiquewhite;
    height: 30vh;
    width: 500px;
}

.middle {
    border: 5px solid antiquewhite;
    height: 30vh;
    width: 500px;
}

.lower {
    border: 5px solid antiquewhite;
    height: 30vh;
    width: 500px;
}